* {
    font-family: arial;
    color: #333;
}

body {
    background-color: #eee;
    margin-top: 20px;
}

.geral {
    width: 950px;
    padding: 30px 25px;
    background-color: #fff;
    margin: 0 auto;
}

.topo {
    display: inline-block;
    width: 950px;
    padding: 10px 0;
}

.logo {
    float: left;
    background-color: #ddd;
    height: 80px;
    width: 150px;
    line-height: 80px;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

.menu ul {
    float: right;
    margin-top: 30px;
}

.menu ul li {
    float: left;
    list-style-type: none;
    width: 100px;
    background-color: #ddd;
    padding: 15px 5px;
    text-align: center;
}

.banner, .principal {
    display: inline-block;
}

.banner-img {
    float: left;
    width: 600px;
    height: 300px;
    background-color: #ddd;
}

.orcamento {
    width: 275px;
    margin-left: 25px;
    background-color: #555;
    height: 250px;
    float: left;
    padding: 25px;
}

.orcamento label {
    color: #fff;
}

#orcamento h3 {
    margin-top: 0;
    color: #fff;
}

#orcamento button {
    float: right;
    height: 40px;
    width: 130px;
    margin-top: 20px;
}

#orcamento label, #orcamento input {
    width: 100%;
}

#orcamento input {
    height: 30px;
    margin: 10px 0;
}

.bloco {
    width: 306px;
    float: left;
}

.bloco:NTH-OF-TYPE(2) {
    margin: 0 16px;
}

.bloco .img {
    width: 100%;
    height: 160px;
    background-color: #ddd;
}

.rodape {
    border-top: 2px solid #ddd;
    padding-top: 20px;
}

.rodape .logo {
    margin-right: 20px;
}

.rodape p {
    margin: 5px 20px;
}
